<ng-template #loggedOut>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active"
      >Register</a
    >
  </li>
</ng-template>

<ul class="navbar-nav" *ngIf="isLoggedIn; else loggedOut">
  <li class="nav-item">
    <a class="nav-link" routerLink="/user/id">Hello, {{ "Pesho" }}!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;" (click)="logoutHandler()">Logout</a>
  </li>
</ul>
