<ng-template #loggedOut>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active"
      >Register</a
    >
  </li>
</ng-template>

<ul
  class="d-flex align-items-start navbar-nav"
  *ngIf="isLogged$ | async; else loggedOut"
>
  <li class="nav-item">
    <div class="d-flex">
      <img
        class="profile-picture rounded-circle z-depth-2 align-self-center"
        [src]="(currentUser$ | async)?.photoURL"
        alt="Profile picture"
      />
      <a class="nav-link" routerLink="/settings">
        Hello, {{ (currentUser$ | async)?.displayName }}!
      </a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;" (click)="logoutHandler()">Logout</a>
  </li>
</ul>
