.profile-picture {
  max-width: 150px;
  max-height: 150px;
  height: auto;
}

.password-inputs {
  width: 75%;
}

.password-inputs .form-control {
  width: 100%;
}

div.file {
  position: relative;
  overflow: hidden;
}

input.img-input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

input.img-input:hover {
  cursor: pointer;
}

.form-control {
  width: 75%;
}
