<h2>Login</h2>

<form [formGroup]="form" (ngSubmit)="submitHandler()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      formControlName="email"
      [class.is-invalid]="emailInput?.touched && !!emailInput?.invalid"
      id="email"
      type="email"
      class="form-control"
      name="email"
    />
    <p
      *ngIf="emailInput?.touched && emailInput?.errors?.required"
      class="text-danger"
    >
      Email is required.
    </p>
    <p
      *ngIf="emailInput?.touched && emailInput?.errors?.email"
      class="text-danger"
    >
      Email is invalid.
    </p>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      [class.is-invalid]="passwordInput?.touched && !!passwordInput?.invalid"
      id="password"
      type="password"
      class="form-control"
      name="password"
    />
    <p
      *ngIf="passwordInput?.touched && passwordInput?.errors?.required"
      class="text-danger"
    >
      Password is required.
    </p>
    <p
      *ngIf="passwordInput?.touched && passwordInput?.errors?.minLength"
      class="text-danger"
    >
      Password must be at least 6 characters long.
    </p>
  </div>
  <div class="form-group">
    <button
      [disabled]="isLoading || form.invalid"
      [class.disabled]="isLoading || form.invalid"
      class="btn btn-primary"
    >
      Login
    </button>
  </div>
</form>
